<div>
  {{#with productById}}
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <p>Precio: {{price}}</p>
    <p>Stock: {{stock}}</p>
  {{/with}}
  <button>Añadir al carrito</button>
  <a href="/edit/{{productById._id}}">
    <button id="edit-product-button">Editar producto</button>
  </a>
</div>