<div>
  {{#with productById}}
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <p>Precio: {{price}}</p>
    <p>Stock: {{stock}}</p>
  {{/with}}
  
  <form action="/cart/add/{{productById._id}}" method="POST">
    <button type="submit">Añadir al carrito</button>
  </form>
  
  <a href="/edit/{{productById._id}}">
    <button id="edit-product-button">Editar producto</button>
  </a>
</div>